nav {
  height: 60px;
  background-color: #471f00;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 30px;
  }
}

.logo {
  //   background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-left: 32px;

  p {
    font-size: 24px;
    text-decoration: underline;
  }
}
